<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Message</title>
</head>
<body>
    <form action="/create-message" method="POST">
        <label for="title">Post Title:</label>
        <input type="text" name="title" placeholder="Your post's title...">
        <label for="content">Message</label>
        <textarea name="content" id="content" rows="5" cols="33"></textarea>
        <button>Submit</button>
    </form>
    <% if (locals.errors) { %>
        <% for (var i =1; i <= locals.errors.length;  i++ ) { %>
            <p><%= locals.errors[i-1].msg %></p>
        <% }} %>
</body>
</html>