<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('nav') %>  
    <div class="w-full flex justify-center">
        <div class="max-w-[450px] flex flex-col mt-36">
            <h1 class="p-2">Enter the secret word</h1>
            <form action="/join" method="post">
                <div class="flex justify-between p-4">
                    <label for="email">Email</label>
                    <input class=" ml-5 border rounded-md shadow" type="text" name="email" id="email">
                </div>
                <div class="flex justify-between p-4">
                    <label for="secretWord">Secret Word</label>
                    <input class="ml-5 border rounded-md shadow" type="text" name="secretWord" id="secretWord">
                </div>
                <button class="m-2">Join</button>
            </form>
        </div>
    </div>

    <% if (locals.error) { %>
        <p><%= locals.error.msg %></p>
    <% } %>
    <% if (locals.errors) { %>
        <% for (var i =1; i <= locals.errors.length;  i++ ) { %>
            <p><%= locals.errors[i-1].msg %></p>
        <% } %>
    <% } %>
</body>
</html>